body {
	padding-top: 50px;
}

@font-face {
  font-family: "Larke Sans Light";
  src: url("/fonts/Larke_Sans_Light.ttf") format("truetype");
}

.navbar-brand img {
	height: 100%;
	display: inline;
}

h1.logoType {
	font-size: 66px;
}

.logoType {
	font-family: "Larke Sans Light";
}

.landingPage {
	height: 30em;
}

.hex-container {
	width: 8em;
	height: 8em;
	margin: 0 auto;
	background-image: url("/img/400px-Regular_hexagon.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.announcementContainer {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}

.hex-container * {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}