body {
	padding-top: 40px;
	background-image: url(../img/vvlight_honeycomb_@2X.png);


}

@font-face {
  font-family: "Larke Sans Light";
  src: url("../fonts/Larke_Sans_Light.ttf") format("truetype");
}

.navbar-brand img {
	height: 100%;
	display: inline;
    left: 0px;
    position: relative;
    transition: left 0.5s ease;
}

.navbar-brand:hover img {
    left: -5px;
}

.navbar .container {
	position: relative;
}

.navbar-toggle {
	border-radius: 0px !important;
}

@media (max-width: 576px) {                  
   .small-screen-hide {
      display: none;
   }
}

@media (min-width: 576px) {                  
   .small-screen-show {
      display: none;
   }
}

.brandBG {
    position: absolute;
    left: -100%;
    background: #49887B;
    width: 100%;
    margin-left: 25px;
    z-index: -1;
    height: 40px;
    top: 0;
}

.modal-content {
	border-radius: 0px !important;
	box-shadow: none !important;
}


.navbar .navbar-nav {
  float: right;
  vertical-align: top;
}

@media (min-width: 1200px) {
	.navbar .container {
		width: 70% !important;
	}
}

@media (min-width: 768px) {
	.navbar .container {
		width: 70%;
	}
}

.navbar-collapse.in .navbar-nav, .navbar-collapse.collapsing .navbar-nav {
	float: none;
}


	

h1.logoType {
	text-align: center;
	font-size: 66px;
	padding-top: 0;
    margin: 0 auto;
    margin-bottom: 6px;
}

@media (max-width: 640px) {
h1.logoType {
	text-align: center;
	font-size: 44px;
	padding-top: 0;
    margin: 0 auto;
    margin-bottom: 6px;
	}
}

h3.subTitle {
	text-align: center;
	font-style: italic !important;
	font-weight: normal !important;
}


.infoBackground#events{
	background-image: url("../img/illu_glassgaard_background_2560px.jpg");
	background-size: cover;
	background-color: #9B9B9B;
	background-position: center;
	min-height: 30em;
	width: 100%;
	margin: 0;
	padding: 3em;
	margin-bottom: 2em;
	text-align: center;
    padding-bottom: 2em;
}

.fullRow{
	width: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: 2em;
	text-align: center;
}

.infoContent{
	text-align: center;
}

h1.infoContent{
	display: block;
	text-align: center;
	padding: 1em;
	padding-left: 1em;
	padding-right: 2em;
	color: white;	
}

.infoText{
	display: inline;
	text-align: left;
	padding: 1em;
	padding-left: 1em;
	padding-right: 2em;
	color: white;	
}

.infoLogo{
	display: inline;
	text-align: left;
	padding: 1em;
	padding-left: 1em;
	padding-right: 2em;
	color: white;	
}
p.infoContent{
	display: inline;
	text-align: left;
	padding: 1em;
	padding-left: 1em;
	padding-right: 2em;
	color: white;	
}
i .infoContent{
	display: inline;
	text-align: left;
	padding: 1em;
	padding-left: 1em;
	padding-right: 2em;
	color: white;	
}


.infoCol {
	text-align: center;
	text-align: left;
	max-width: 70em;
}


.infoCol-text {
	text-align: center;
	font-size: 1em;
	padding-left: 0em;
	padding-right: 0em;
	padding: 0.5em;
	color: white;
}

.infoCol-header {
	text-align: center;
	color: white;
	font-size: 1.8em;
	margin-top: 0.5em;
}

#events p.infoCol-text, #events h2.infoCol-header {
    text-shadow: 0 0 0.75em rgba(0,0,0,0.6);
}

.infoImg{
	max-width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 1em;
}


h2.logoType {
	font-size: 44px;
	padding-top: 0;
    margin-top: 0;
} 

.row {
	margin: 0 auto;
}

.logoType {
	font-family: "Larke Sans Light";
}

.container-fluid.landingPage {
	padding-top: 0em;
	height: 25em;
	/*background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 49%, rgba(252,252,252,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(49%, rgba(254,254,254,1)), color-stop(100%, rgba(252,252,252,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 49%, rgba(252,252,252,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 49%, rgba(252,252,252,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 49%, rgba(252,252,252,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 49%, rgba(252,252,252,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0 );*/
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 40%, rgba(252,252,252,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(40%, rgba(254,254,254,1)), color-stop(100%, rgba(252,252,252,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 40%, rgba(252,252,252,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 40%, rgba(252,252,252,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 40%, rgba(252,252,252,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 40%, rgba(252,252,252,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0 );
}

.infoSection{
	max-width: 70em;
	text-align: center;
	padding: auto;
	margin: auto;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand img {
    height: 100%;
    display: inline;
}

.navbar-nav {
	font-size: 17px;
}

.navbar-brand .logoType, .footerContainer {
    font-size: 30px;
    vertical-align: -1px;
}

.hex-container {
	width: 10em;
	height: 10em;
	margin: 0 auto;
	text-align: center;
	background-image: url("../img/400px-Regular_hexagon_solidFill_noBorder.png");
	background-size: contain;
	background-repeat: no-repeat;
	transition: width 0.5s ease, top 0.5s ease, margin 0.5s ease, height 0.5s ease;
	margin-bottom: 0em;
	top: 0em;
	position: relative;
}

.hex-container-static {
	width: 10em;
	height: 10em;
	margin: 0 auto;
	text-align: center;
	background-image: url("../img/400px-Regular_hexagon_solidFill_noBorder.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.hex-container-static * {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: font-size 0.5s ease;
	font-size: 1em;
}



       
.hex-container-static .glyphicon, .hex-container-static .fa {
	font-size: 3em !important;
}
.fa{
	color: #1E4845;
}

.glyphicon{
	color: #1E4845;
}


.hex-container-md {
	width: 13em;
	height: 13em;
	margin: 0 auto;
	background-image: url("../img/400px-Regular_hexagon_solidFill_noBorder.png");
	background-size: contain;
	background-repeat: no-repeat;
    transition: width 0.5s ease, top 0.5s ease, margin 0.5s ease, height 0.5s ease;
	margin-bottom: 0em;
	top: 0em;
	position: relative;
}

.hex-container-lg {
	width: 15em;
	height: 15em;
	margin: 0 auto;
	background-image: url("../img/400px-Regular_hexagon_solidFill_noBorder.png");
	background-size: contain;
	background-repeat: no-repeat;
    transition: width 0.5s ease, top 0.5s ease, margin 0.5s ease, height 0.5s ease;
	margin-bottom: 0em;
	top: 0em;
	position: relative;
}


.hex-container:hover {
    width: 11em;
    height: 11em;
    top: -0.5em;
    margin-bottom: -1em;
}

.hex-container-md:hover {
    width: 14em;
    height: 14em;
    top: -0.5em;
    margin-bottom: -1em;
}

.hex-container-lg:hover {
    width: 16em;
    height: 16em;
    top: -0.5em;
    margin-bottom: -1em;
}



.announcementContainer {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}

.mainSponsorLogo {
	width: 10em;
	height: 10em;
	background-image: url("../Nettverksdagen/Nvdagen_transparent_fill_rect.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.logoContainer {
}


.hex-container * {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: font-size 0.5s ease, height 0.5s ease, width 0.5s ease;
	font-size: 1em;
}
.hex-container-md * {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: font-size 0.5s ease, height 0.5s ease, width 0.5s ease;
	font-size: 1em;
}

.hex-container:hover * {
	font-size: 1.2em;
}

.hex-container-lg * {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: font-size 0.5s ease, height 0.5s ease, width 0.5s ease;
	font-size: 1em;
}

.hex-container-lg:hover * {
	font-size: 1.2em;
}


.hex-container .glyphicon, .hex-container .fa {
	font-size: 3em !important;
}

.hex-container .fa-plus {
	font-size: 3em !important;
	transition: font-size 0.5s ease;
	-webkit-transition: font-size 0.5s ease;

}

.hex-container:hover .fa, .hex-container:hover .glyphicon {
	font-size: 4em !important;
	transition: font-size 0.5s ease;
	-webkit-transition: font-size 0.5s ease;
}

.container-fluid {
	padding-top: 2em;
}

.container-fluid.companySection {
	max-width: 65em;
}

.sectionTitle{
	text-align: center;
	display: inline-block;
}

.titleUnderline{
	margin: auto;
	width: 4em;
	transition: width 0.5s ease;
	height: 0.3em;
	background-color: #49887B;
}

.section:hover .titleUnderline{
	margin: auto;
	width: 100%;
}

.companySection .company .imgContainer {
    height: 7em;
    width: 7em;
}
.companySection .company .imgContainer-md {
    height: 8em;
    width: 8em;
}

.companySection .company .imgContainer-lg {
    height: 9em;
    width: 9em;
}

.companySection .company .imgContainer,
.companySection .company .imgContainer-md,
.companySection .company .imgContainer-lg {
	border-style: none;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: 50% 50%;
}


.companySection .company .hex-container {
	cursor: pointer;
}

.companySection .row .company {
    padding: 2em 0 2em 0;
}

.container-fluid.footerContainer {
    background-color: #fff;
    color: #777;
    border-top: solid 1px #eee;
    padding-bottom: 1.25em;
    text-align: center;
		padding-top: 0em;
		margin-top: 1em;
}

/*Sponsorer*/
.companySection .company .imgContainer-lg#Sintef {
    background-image: url("../img/sponsors/Sintef_logo.png");
}
.companySection .company .imgContainer-lg#Pstereo {
    background-image: url("../img/sponsors/Pstereo_logo.png");
}
.companySection .company .imgContainer-lg#Akademika {
    background-image: url("../img/sponsors/Akademika_logo.png");
}
.companySection .company .imgContainer#Microsoft {
    background-image: url("../img/sponsors/Microsoft_logo.png");
}
.companySection .company .imgContainer#TrondheimTorg {
    background-image: url("../img/sponsors/TrondheimTorg_logo.png");
}
.companySection .company .imgContainer#SanSebastianSolsiden {
    background-image: url("../img/sponsors/SanSebastianSolsiden_logo.png");
}
.companySection .company .imgContainer#Cutters {
    background-image: url("../img/sponsors/Cutters_logo.png");
}
.companySection .company .imgContainer#Øyafestivalen {
    background-image: url("../img/sponsors/Øyafestivalen_logo.png");
}
.companySection .company .imgContainer#Vipps {
    background-image: url("../img/sponsors/Vipps_logo.png");
}
.companySection .company .imgContainer#TheSense {
    background-image: url("../img/sponsors/TheSense_logo.png");
}
.companySection .company .imgContainer#Samfundet {
    background-image: url("../img/sponsors/Samfundet_logo.png");
}
.companySection .company .imgContainer#NilleMoholt {
    background-image: url("../img/sponsors/NilleMoholt_logo.png");
}
.companySection .company .imgContainer#GSportTiller {
    background-image: url("../img/sponsors/GSportTiller_logo.png");
}
.companySection .company .imgContainer#Rbk {
    background-image: url("../img/sponsors/Rbk_logo.png");
}
.companySection .company .imgContainer#Sabrura {
    background-image: url("../img/sponsors/Sabrura_logo.png");
}
.companySection .company .imgContainer#Redbull {
    background-image: url("../img/sponsors/Redbull_logo.png");
}
.companySection .company .imgContainer#Kjeldsberg {
    background-image: url("../img/sponsors/Kjeldsberg_logo.png");
}
.companySection .company .imgContainer#EscapeAdventures {
    background-image: url("../img/sponsors/EscapeAdventures_logo.png");
}
.companySection .company .imgContainer#Ringnes {
    background-image: url("../img/sponsors/Ringnes_logo.png");
}
.companySection .company .imgContainer#SolsidenSpa {
    background-image: url("../img/sponsors/SolsidenSpa_logo.png");
}
.companySection .company .imgContainer#EgonTyholt {
    background-image: url("../img/sponsors/EgonTyholt_logo.png");
}
.companySection .company .imgContainer#Dahls {
    background-image: url("../img/sponsors/DahlsBryggeri_logo.png");
}
.companySection .company .imgContainer#Kadetten {
    background-image: url("../img/sponsors/Kadetten_logo.png");
}
.companySection .company .imgContainer#SuperHeroBurger {
    background-image: url("../img/sponsors/SuperHeroBurger_logo.png");
}






/*Bedrifter*/

.companySection .company .imgContainer-lg#Nevion {
    background-image: url("../img/cLogos/Nevion_logo.png");
}
.companySection .company .imgContainer-lg#Atea {
    background-image: url("../img/cLogos/Atea_logo.png");
}
.companySection .company .imgContainer-lg#ScatecSolar {
    background-image: url("../img/cLogos/ScatecSolar_logo.jpg");
}
.companySection .company .imgContainer-lg#Imatis {
    background-image: url("../img/cLogos/ImatisBoxLogo3.png");
}
.companySection .company .imgContainer-lg#Honeywell {
    background-image: url("../img/cLogos/Honeywell_logo.png");
}
.companySection .company .imgContainer-lg#DataRespons {
    background-image: url("../img/cLogos/DataRespons_logo.png");
}
.companySection .company .imgContainer-lg#BaneNOR {
    background-image: url("../img/cLogos/BaneNOR_logo.png");
}
.companySection .company .imgContainer-lg#NorgesBank {
    background-image: url("../img/cLogos/NorgesBank_logo.png");
}




.companySection .company .imgContainer-md#dnvgl {
    background-image: url("../img/cLogos/dnv_gl_logo.JPG");
}
.companySection .company .imgContainer-md#Systek {
    background-image: url("../img/cLogos/Systek_logo.jpg");
}
.companySection .company .imgContainer-md#Applica {
    background-image: url("../img/cLogos/applica.png");
}
.companySection .company .imgContainer-md#sSteria {
    background-image: url("../img/cLogos/SopraSteria_logo.png");
}
.companySection .company .imgContainer-md#Computas {
    background-image: url("../img/cLogos/Computas_logo.jpeg");
}
.companySection .company .imgContainer-md#EllipticLabs {
    background-image: url("../img/cLogos/EllipticLabs_logo.jpg");
}
.companySection .company .imgContainer-md#avanade {
    background-image: url("../img/cLogos/avanade.png");
}
.companySection .company .imgContainer-md#disruptiveTechnologies {
    background-image: url("../img/cLogos/DisruptiveTechnologies_logo.png");
}
.companySection .company .imgContainer-md#airthings {
    background-image: url("../img/cLogos/Airthings_Logo_standard_Grey_Web-4.png");
}



.companySection .company .imgContainer#WaterLinked {
    background-image: url("../img/cLogos/WaterLinked_logo.png");
}
.companySection .company .imgContainer#AW {
    background-image: url("../img/cLogos/AW_logo.png");
}
.companySection .company .imgContainer#Scanmatic {
    background-image: url("../img/cLogos/scanmatic_logo.jpg");
}
.companySection .company .imgContainer#Statoil {
    background-image: url("../img/cLogos/Statoil_logo.png");
}
.companySection .company .imgContainer#ICD {
    background-image: url("../img/cLogos/ICD_logo.png");
}
.companySection .company .imgContainer#Pwc {
    background-image: url("../img/cLogos/Pwc_logo.png");
}
.companySection .company .imgContainer#Visma {
    background-image: url("../img/cLogos/Visma_logo.jpg");
}
.companySection .company .imgContainer#NorskHydro {
    background-image: url("../img/cLogos/NorskHydro_logo.png");
}
.companySection .company .imgContainer#Techni {
    background-image: url("../img/cLogos/Techni_logo.png");
}
.companySection .company .imgContainer#Bekk {
    background-image: url("../img/cLogos/Bekk_logo.PNG");
}
.companySection .company .imgContainer#deloitte {
    background-image: url("../img/cLogos/deloitte-logo.png");
}
.companySection .company .imgContainer#DNV_GL {
    background-image: url("../img/cLogos/DNV_GL_logo.PNG");
}
.companySection .company .imgContainer#kBerg {
    background-image: url("../img/cLogos/Kongsberg_Automotive.png");
}
.companySection .company .imgContainer#bVoll {
    background-image: url("../img/cLogos/Brunvoll_logo.png");
}
.companySection .company .imgContainer#statnett {
    background-image: url("../img/cLogos/Statnett_logo.png");
}
.companySection .company .imgContainer#brunvoll {
    background-image: url("../img/cLogos/Brunvoll_logo.png");
}
.companySection .company .imgContainer#kongsberg {
    background-image: url("../img/cLogos/Kongsberg_logo.png");
}
.companySection .company .imgContainer#Lyse {
    background-image: url("../img/cLogos/lyse_logo.png");
}
.companySection .company .imgContainer#NFEA {
    background-image: url("../img/cLogos/NFEA_logo.png");
}


.companySection .company .imgContainer#AkerBP {
    background-image: url("../img/cLogos/AkerBP_logo.png");
}


.regularLink {
	color: #1e88e5;
}

.program{

}

.row.program{
	padding-top: 3em;
	padding-bottom: 3em;
}


.modalImgFullPage {
	width: 23em;
}

.modalSection{
	margin-bottom: 2em;
}

.modalText{
	padding: 0.5em;
	font-size: 1.2em;
}

.contactName{
	font-size: 2em;
	margin-bottom: 0em;
}

.contactTitle{
	font-size: 1.2em;
	margin-bottom: 0em;
}


.contactElements{
	margin-top: 1rem;
	list-style: none;
}

.contactElement{
	margin-top: 1rem;
	padding-bottom: 0em;
}

.contactLink {
	color: #47afff; 
}

.container-fluid.programSection {
	max-width: 65em;
}

.row.program{
	margin-top: 0em;
	margin-bottom: 2em;
}

.programElement{
	height: 5em;
	margin: 5pt;
	padding-top: 0;
	position: relative;
}

.programLogo{
	height: 5em;
	width: 5em;
	float: left;
	position: relative;
	margin: 0 auto;
	text-align: center;
	background-image: url("../img/400px-Regular_hexagon_solidFill_noBorder.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 0em;
	top: 0em;
}

.program-hex-container-static {
	width: 5em;
	height: 5em;
	float: left;
	position: relative;
	margin: 0 auto;
	text-align: center;
	background-image: url("../img/400px-Regular_hexagon_solidFill_noBorder.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.program-hex-container-static * {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: font-size 0.5s ease;
	font-size: 1em;
}
       
.program-hex-container-static .glyphicon, .program-hex-container-static .fa {
	font-size: 2em !important;
}

.programContent{
	width: 70%;
	height: 5em;
	float: left;
	position: relative;
	margin-left: 15pt;
}

.programTitle{
	height: 2.5em;
	float: left;
	text-align: left;
	display: table;
	margin:0;
}

.programTitle>h3{
	width: 29em;
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 2pt;
	font-size: 1.3em;
}

@media (max-width: 768px) {
	.programTitle > h3 {
		width: 29em;
		display: table-cell;
		vertical-align: bottom;
		padding-bottom: 2pt;
		font-size: 1.1em;
	}
}

.programContent{
	width: 60%;
	height: 6em;
	float: left;
	position: relative;
	margin-left: 15pt;
}



.programInfo{
	height: 2.5em;
	width: 20em;
	float: left;	
	text-align: left;
	display: table;
	margin:0;
	width: 100%;
}

.programInfo>p{
	display: table-cell;
	vertical-align: top;
	padding-top: 2pt;
}

.presentationLogo{
	width: 2em;
}

.modal-open {
    padding-left:0 !important;
    padding-right:0 !important;
    overflow-y: inherit !important;
}

.thumb {
	background-repeat:no-repeat;
	background-position: center top;
	width: 100%;
	height: 100;
	position: relative;
	background-size: cover;

}


