body {
	padding-top: 41px;
	background-image: url(/img/vvlight_honeycomb_@2X.png);
}

@font-face {
  font-family: "Larke Sans Light";
  src: url("/fonts/Larke_Sans_Light.ttf") format("truetype");
}

.navbar-brand img {
	height: 100%;
	display: inline;
    left: 0px;
    position: relative;
    transition: left 0.5s ease;
}

.navbar-brand:hover img {
    left: -5px;
}

.navbar .container {
	position: relative;
}

.navbar-toggle {
	border-radius: 0px !important;
}

@media (max-width: 576px) {                  
   .small-screen-hide {
      display: none;
   }
}

@media (min-width: 576px) {                  
   .small-screen-show {
      display: none;
   }
}

.brandBG {
    position: absolute;
    left: -100%;
    background: #49887B;
    width: 100%;
    margin-left: 25px;
    z-index: -1;
    height: 40px;
    top: 0;
}

.modal-content {
	border-radius: 0px !important;
	box-shadow: none !important;
}

/*.triEdge {
	position: absolute;
	top: 0;
	height: 100%;
	width: 8.6%;
	background-size: 100% 100%;
}

.triEdge.leftTri {
	left: -8.6%;
	background-image: url(/img/leftTri.png);
}

.triEdge.rightTri {
	background-image: url(/img/rightTri.png);
	right: -8.6%;
}*/

.navbar .navbar-nav {
  display: inline-block;
  float: right;
  vertical-align: top;
}

@media (min-width: 1200px) {
	.navbar .container {
		width: 892px !important;
	}
}

@media (min-width: 768px) {
	.navbar .container {
		width: 703px;
	}
}

.navbar-collapse.in .navbar-nav, .navbar-collapse.collapsing .navbar-nav {
	float: none;
}


	

h1.logoType {
	text-align: center;
	font-size: 66px;
	padding-top: 0;
    margin: 0 auto;
    margin-bottom: 3pt;
}

@media (max-width: 640px) {
h1.logoType {
	text-align: center;
	font-size: 44px;
	padding-top: 0;
    margin: 0 auto;
    margin-bottom: 3pt;
	}
}

h3.subTitle {
	text-align: center;
	font-style: italic !important;
	font-weight: normal !important;
}

/*@media (max-width: 700px){

h1.logoType {
	text-align: center;
	font-size: 44px;
	padding-top: 0;
    margin: 0 auto;
    margin-bottom: 3pt;
}

}*/

.infoBackground#events{
	background-image: url("/img/illu_glassgaard_background_2560px.jpg");
	background-size: cover;
	background-color: #9B9B9B;
	background-position: center;
	min-height: 30em;
	width: 100%;
	margin: 0;
	padding: 3em;
	margin-bottom: 2em;
	text-align: center;
    padding-bottom: 2em;
}

.fullRow{
	width: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: 2em;
	text-align: center;
}

.infoContent{
	text-align: center;
}

h1.infoContent{
	display: block;
	text-align: center;
	padding: 1em;
	padding-left: 1em;
	padding-right: 2em;
	color: white;	
}

.infoText{
	display: inline;
	text-align: left;
	padding: 1em;
	padding-left: 1em;
	padding-right: 2em;
	color: white;	
}

.infoLogo{
	display: inline;
	text-align: left;
	padding: 1em;
	padding-left: 1em;
	padding-right: 2em;
	color: white;	
}
p.infoContent{
	display: inline;
	text-align: left;
	padding: 1em;
	padding-left: 1em;
	padding-right: 2em;
	color: white;	
}
i .infoContent{
	display: inline;
	text-align: left;
	padding: 1em;
	padding-left: 1em;
	padding-right: 2em;
	color: white;	
}


.infoCol {
	text-align: center;
	text-align: left;
	max-width: 70em;
}


.infoCol-text {
	text-align: center;
	font-size: 1em;
	padding-left: 0em;
	padding-right: 0em;
	padding: 0.5em;
	color: white;
}

.infoCol-header {
	text-align: center;
	color: white;
	font-size: 1.8em;
	margin-top: 0.5em;
}

#events p.infoCol-text, #events h2.infoCol-header {
    text-shadow: 0 0 0.75em rgba(0,0,0,0.6);
}

.infoImg{
	max-width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 1em;
}


h2.logoType {
	font-size: 44px;
	padding-top: 0;
    margin-top: 0;
} 

.row {
	margin: 0 auto;
}

.logoType {
	font-family: "Larke Sans Light";
}

.container-fluid.landingPage {
	padding-top: 0em;
	height: 25em;
	/*background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 49%, rgba(252,252,252,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(49%, rgba(254,254,254,1)), color-stop(100%, rgba(252,252,252,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 49%, rgba(252,252,252,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 49%, rgba(252,252,252,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 49%, rgba(252,252,252,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 49%, rgba(252,252,252,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0 );*/
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 40%, rgba(252,252,252,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(40%, rgba(254,254,254,1)), color-stop(100%, rgba(252,252,252,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 40%, rgba(252,252,252,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 40%, rgba(252,252,252,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 40%, rgba(252,252,252,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 40%, rgba(252,252,252,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0 );
}

.infoSection{
	max-width: 70em;
	text-align: center;
	padding: auto;
	margin: auto;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand img {
    height: 100%;
    display: inline;
}

.navbar-nav {
	font-size: 17px;
}

.navbar-brand .logoType, .footerContainer .logoType {
    font-size: 30px;
    vertical-align: -1px;
}

.hex-container {
	width: 10em;
	height: 10em;
	margin: 0 auto;
	text-align: center;
	background-image: url("/img/400px-Regular_hexagon_solidFill_noBorder.png");
	background-size: contain;
	background-repeat: no-repeat;
	transition: width 0.5s ease, top 0.5s ease, margin 0.5s ease, height 0.5s ease;
	margin-bottom: 0em;
	top: 0em;
	position: relative;
}

.hex-container-static {
	width: 10em;
	height: 10em;
	margin: 0 auto;
	text-align: center;
	background-image: url("/img/400px-Regular_hexagon_solidFill_noBorder.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.hex-container-static * {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: font-size 0.5s ease;
	font-size: 1em;
}



       
.hex-container-static .glyphicon, .hex-container-static .fa {
	font-size: 3em !important;
}
.fa{
	color: #1E4845;
}

.glyphicon{
	color: #1E4845;
}

.hex-container-lg {
	width: 15em;
	height: 15em;
	margin: 0 auto;
	background-image: url("/img/400px-Regular_hexagon_solidFill_noBorder.png");
	background-size: contain;
	background-repeat: no-repeat;
    transition: width 0.5s ease, top 0.5s ease, margin 0.5s ease, height 0.5s ease;
	margin-bottom: 0em;
	top: 0em;
	position: relative;
}


.hex-container:hover {
    width: 11em;
    height: 11em;
    top: -0.5em;
    margin-bottom: -1em;
}

.hex-container-lg:hover {
    width: 16em;
    height: 16em;
    top: -0.5em;
    margin-bottom: -1em;
}



.announcementContainer {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}

.mainSponsorLogo {
	width: 10em;
	height: 10em;
	background-image: url("/Nettverksdagen/Nvdagen_transparent_fill_rect.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.logoContainer {
}

.hex-container * {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: font-size 0.5s ease, height 0.5s ease, width 0.5s ease;
	font-size: 1em;
}

.hex-container:hover * {
	font-size: 1.2em;
}

.hex-container-lg * {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: font-size 0.5s ease, height 0.5s ease, width 0.5s ease;
	font-size: 1em;
}

.hex-container-lg:hover * {
	font-size: 1.2em;
}


.hex-container .glyphicon, .hex-container .fa {
	font-size: 3em !important;
}

.hex-container .fa-plus {
	font-size: 3em !important;
	transition: font-size 0.5s ease;
	-webkit-transition: font-size 0.5s ease;

}

.hex-container:hover .fa, .hex-container:hover .glyphicon {
	font-size: 4em !important;
	transition: font-size 0.5s ease;
	-webkit-transition: font-size 0.5s ease;
}

.container-fluid {
	padding-top: 2em;
}

.container-fluid.companySection {
	max-width: 65em;
}

.sectionTitle{
	text-align: center;
}

.titleUnderline{
	margin: auto;
	width: 4em;
	transition: width 0.5s ease;
	height: 0.3em;
	background-color: #49887B;
}

.section:hover .titleUnderline{
	margin: auto;
	width: 20em;
	transition: width 0.5s ease;
	height: 0.3em;
	background-color: #49887B;

}

.companySection .company .imgContainer {
    height: 7em;
    width: 7em;
}

.companySection .company .imgContainer-lg {
    height: 9em;
    width: 9em;
}

.companySection .company .imgContainer,
.companySection .company .imgContainer-lg {
	border-style: none;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: 50% 50%;
}


.companySection .company .hex-container {
	cursor: pointer;
}

.companySection .row .company {
    padding: 2em 0 2em 0;
}

.container-fluid.footerContainer {
    background-color: #fff;
    color: #777;
    border-top: solid 1px #eee;
    padding-bottom: 1.25em;
    text-align: center;
	padding-top: 0em;
}

.companySection .company .imgContainer#Visma {
    background-image: url("/img/cLogos/Visma_logo.jpg");
}
.companySection .company .imgContainer#NorskHydro {
    background-image: url("/img/cLogos/NorskHydro_logo.png");
}
.companySection .company .imgContainer#Techni {
    background-image: url("/img/cLogos/Techni_logo.png");
}
.companySection .company .imgContainer#Computas {
    background-image: url("/img/cLogos/Computas_logo.jpeg");	
}
.companySection .company .imgContainer#NorgesBank {
    background-image: url("/img/cLogos/NorgesBank_logo.png");	
}.companySection .company .imgContainer#ScatecSolar {
    background-image: url("/img/cLogos/ScatecSolar_logo.jpg");
}
.companySection .company .imgContainer#systek {
    background-image: url("/img/cLogos/Systek_logo.jpg");
}
.companySection .company .imgContainer#sintef {
    background-image: url("/img/cLogos/sintef.png");
}
.companySection .company .imgContainer#Bekk {
    background-image: url("/img/cLogos/Bekk_logo.PNG");
}
.companySection .company .imgContainer#airthings {
    background-image: url("/img/cLogos/Airthings_Logo_standard_Grey_Web-4.png");
}
.companySection .company .imgContainer#deloitte {
    background-image: url("/img/cLogos/deloitte-logo.png");
}
.companySection .company .imgContainer#imatis {
    background-image: url("/img/cLogos/ImatisBoxLogo3.png");
}
.companySection .company .imgContainer#DNV_GL {
    background-image: url("/img/cLogos/DNV_GL_logo.PNG");
}

.companySection .company .imgContainer#avanade {
    background-image: url("/img/cLogos/avanade.png");
}
.companySection .company .imgContainer#applica {
    background-image: url("/img/cLogos/applica.png");
}

.companySection .company .imgContainer#disruptiveTechnologies {
    background-image: url("/img/cLogos/DisruptiveTechnologies_logo.png");
}
.companySection .company .imgContainer#honeywell {
    background-image: url("/img/cLogos/Honeywell_logo.png");
}

.companySection .company .imgContainer#kBerg {
    background-image: url("/img/cLogos/Kongsberg_Automotive.png");
}

.companySection .company .imgContainer#sSteria {
    background-image: url("/img/cLogos/SopraSteria_logo.png");
}

.companySection .company .imgContainer#bVoll {
    background-image: url("/img/cLogos/Brunvoll_logo.png");
}

.companySection .company .imgContainer-lg#prediktor {
    background-image: url("/img/cLogos/Prediktor_logo.png");
}

.companySection .company .imgContainer-lg#cisco {
    background-image: url("/img/cLogos/Cisco_logo.png");
}

.companySection .company .imgContainer#statnett {
    background-image: url("/img/cLogos/Statnett_logo.png");
}

.companySection .company .imgContainer#brunvoll {
    background-image: url("/img/cLogos/Brunvoll_logo.png");
}

.companySection .company .imgContainer#kongsberg {
    background-image: url("/img/cLogos/Kongsberg_logo.png");
}

.companySection .company .imgContainer#AW {
    background-image: url("/img/cLogos/AW_logo.png");
}

.companySection .company .imgContainer#Forsvarsmateriell {
    background-image: url("/img/cLogos/Forsvarsmateriell_logo.png");
}

.companySection .company .imgContainer#Hatteland {
    background-image: url("/img/cLogos/Hatteland_logo.png");
}

.companySection .company .imgContainer#Lyse {
    background-image: url("/img/cLogos/lyse_logo.png");
}

.companySection .company .imgContainer#NFEA {
    background-image: url("/img/cLogos/NFEA_logo.png");
}

.companySection .company .imgContainer#Scanmatic {
    background-image: url("/img/cLogos/scanmatic_logo.jpg");
}

.companySection .company .imgContainer#BaneNOR {
    background-image: url("/img/cLogos/BaneNOR_logo.png");
}

.companySection .company .imgContainer#DataRespons {
    background-image: url("/img/cLogos/DataRespons_logo.png");
}

.companySection .company .imgContainer#dnvgl {
    background-image: url("/img/cLogos/dnv_gl_logo.JPG");
}

.program{

}

.row.program{
	padding-top: 3em;
	padding-bottom: 3em;
}


.modalImgFullPage {
	width: 23em;
}

.modalSection{
	margin-bottom: 2em;
}

.modalText{
	padding: 0.5em;
	font-size: 1.2em;
}

.contactName{
	font-size: 2em;
	margin-bottom: 0em;
}

.contactTitle{
	font-size: 1.2em;
	margin-bottom: 0em;
}


.contactElements{
	list-style: none;
}

.contactElement{
	padding-bottom: 0em;
}

.contactLink {
	color: #47afff; 
}

.container-fluid.programSection {
	max-width: 65em;
}

.row.program{
	margin-top: 0em;
	margin-bottom: 2em;
}

.programElement{
	height: 5em;
	margin: 5pt;
	padding-top: 0;
	position: relative;
}

.programLogo{
	height: 5em;
	width: 5em;
	float: left;
	position: relative;
	margin: 0 auto;
	text-align: center;
	background-image: url("/img/400px-Regular_hexagon_solidFill_noBorder.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 0em;
	top: 0em;
}

.program-hex-container-static {
	width: 5em;
	height: 5em;
	float: left;
	position: relative;
	margin: 0 auto;
	text-align: center;
	background-image: url("/img/400px-Regular_hexagon_solidFill_noBorder.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.program-hex-container-static * {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: font-size 0.5s ease;
	font-size: 1em;
}
       
.program-hex-container-static .glyphicon, .program-hex-container-static .fa {
	font-size: 2em !important;
}

.programContent{
	width: 70%;
	height: 5em;
	float: left;
	position: relative;
	margin-left: 15pt;
}

.programTitle{
	height: 2.5em;
	float: left;
	text-align: left;
	display: table;
	margin:0;
}

.programTitle>h3{
	width: 29em;
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 2pt;
	font-size: 1.3em;
}

@media (max-width: 768px){
.programTitle>h3{
	width: 29em;
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 2pt;
	font-size: 1.1em;
}

.programContent{
	width: 60%;
	height: 6em;
	float: left;
	position: relative;
	margin-left: 15pt;
}
}



.programInfo{
	height: 2.5em;
	width: 20em;
	float: left;	
	text-align: left;
	display: table;
	margin:0;
}

.programInfo>p{
	display: table-cell;
	vertical-align: top;
	padding-top: 2pt;
}

.presentationLogo{
	width: 2em;
}
